# Python cache
__pycache__/

# Folders to ignore
metadata/
models/
static/images/
static/thumbnails/
static/animations/
static/logo/
venv/
.vscode/
ingest/

# Testing and documentation

# docs/ - Now tracked for project documentation
pytest.ini
requirements-dev.txt

# Specific files to ignore
booru.db
booru*.db
database.db
rating_model.db
tags.json
todo.txt
todo.md
.env
booru.db-shm
booru.db-wal
TODO
.python-version
*.csv
rating_model.db-shm
rating_model.db-wal
.xdp-booru*
similarity.db
similarity.db-journal
*.lock
