/* SYSTEM PAGE - Main file that imports all system page modules */

@import url('system/header.css');
@import url('system/overview.css');
@import url('system/settings.css');
@import url('system/actions.css');
