/* RESET STYLES - Base reset and normalization */

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
}

body.gallery-page {
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
